body {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    text-align: center;
}
p {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    color: darkgray;
    font-size: 14px;
}
