body {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;
    text-align: center;
    background: url(tree_bark.png);
}

h1 {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 0;
}

p {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    color: darkgray;
    font-size: 14px;
}

div {
    margin-bottom: -40px;
}
