body {
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
    background: url(playstation.png);
}

h1 {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 5px;
    text-shadow: 5px 5px 0px rgba(29, 30, 74, 0.33);
}

p {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    font-size: 14px;
}

div {
    margin-bottom: -45px;
}
